.pater {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1em 0;
	color: inherit;
	background: #fff;
	display: none;
}

.pater:hover {
	color: inherit;
}

.pater__title {
	margin: 0;
	display: none;
	font-size: 0.85em;
	font-weight: normal;
	transition: transform 0.5s, opacity 0.3s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.pater__img-wrap {
	position: absolute;
	bottom: 1.5em;
	left: 0;
	width: 50%;
	background: #000;
	transition: transform 0.5s 0.1s;
	transform: translate3d(0,100%,0) translate3d(0,2em,0);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.pater__img {
	max-width: 100%;
	display: block;
	opacity: 0;
	transition: opacity 0.5s 0.2s;
}

@media screen and (min-width: 60em) {
	.pater {
		position: fixed;
		display: block;
		bottom: 0;
		left: 0;
		width: 320px;
		padding: 0 0 1.65em;
		margin: 0 0 0 4.5em;
		color: inherit;
		background: transparent;
	}
	.pater__title {
		display: block;
	}
	.pater:hover .pater__title {
		opacity: 0;
		transform: translate3d(0, 50px, 0);
	}
	.pater:hover .pater__img-wrap {
		transform: translate3d(0,0,0);
	}
	.pater:hover .pater__img {
		opacity: 1;
	}
}